Arthur Silva Rodrigues

# Tarefa

- Escreva um notebook para resolver os  problemas abaixo.

- Colocar o seu nome na primeira célula do Notebook.

- O notebook deve estar com texto explicando o Notebook. Caso não tenha texto explicativo, será descontada nota.

- Entregue a tarefa no Google Sala de Aula na tarefa correspondente.

- A tarefa deve ser feita de forma individual.

- Qualquer gráfico que eventualmente seja feito deve ter seus eixos nomeados,  com unidades.

**1)** O n-ésimo número triangular $T_n$ é dfinido como:

$$T_n = \displaystyle\sum_{k=1}^n k = 1 + 2 + 3+...+ n$$

Faça um programa que mostre na tela os primeiros 100 números triangulares.

In [ ]:
# n-ésimo número
n = 100
T = 0
for i in range(1, n+1):
    T = i * (i + 1) // 2
    print(f"Triangulae {i} = {T}")

Triangulae 1 = 1
Triangulae 2 = 3
Triangulae 3 = 6
Triangulae 4 = 10
Triangulae 5 = 15
Triangulae 6 = 21
Triangulae 7 = 28
Triangulae 8 = 36
Triangulae 9 = 45
Triangulae 10 = 55
Triangulae 11 = 66
Triangulae 12 = 78
Triangulae 13 = 91
Triangulae 14 = 105
Triangulae 15 = 120
Triangulae 16 = 136
Triangulae 17 = 153
Triangulae 18 = 171
Triangulae 19 = 190
Triangulae 20 = 210
Triangulae 21 = 231
Triangulae 22 = 253
Triangulae 23 = 276
Triangulae 24 = 300
Triangulae 25 = 325
Triangulae 26 = 351
Triangulae 27 = 378
Triangulae 28 = 406
Triangulae 29 = 435
Triangulae 30 = 465
Triangulae 31 = 496
Triangulae 32 = 528
Triangulae 33 = 561
Triangulae 34 = 595
Triangulae 35 = 630
Triangulae 36 = 666
Triangulae 37 = 703
Triangulae 38 = 741
Triangulae 39 = 780
Triangulae 40 = 820
Triangulae 41 = 861
Triangulae 42 = 903
Triangulae 43 = 946
Triangulae 44 = 990
Triangulae 45 = 1035
Triangulae 46 = 1081
Triangulae 47 = 1128
Triangulae 48 = 1176
Triangulae 49 = 1225
Triangulae 50 = 1275
Triangulae 51 = 1326
Triangulae 52 = 1378
Triangulae 53 = 1431
Triangulae 54 = 1485
Triangulae 55 = 1540
Triangulae 56 = 1596
Triangulae 57 = 1653
Triangulae 58 = 1711
Triangulae 59 = 1770
Triangulae 60 = 1830
Triangulae 61 = 1891
Triangulae 62 = 1953
Triangulae 63 = 2016
Triangulae 64 = 2080
Triangulae 65 = 2145
Triangulae 66 = 2211
Triangulae 67 = 2278
Triangulae 68 = 2346
Triangulae 69 = 2415
Triangulae 70 = 2485
Triangulae 71 = 2556
Triangulae 72 = 2628
Triangulae 73 = 2701
Triangulae 74 = 2775
Triangulae 75 = 2850
Triangulae 76 = 2926
Triangulae 77 = 3003
Triangulae 78 = 3081
Triangulae 79 = 3160
Triangulae 80 = 3240
Triangulae 81 = 3321
Triangulae 82 = 3403
Triangulae 83 = 3486
Triangulae 84 = 3570
Triangulae 85 = 3655
Triangulae 86 = 3741
Triangulae 87 = 3828
Triangulae 88 = 3916
Triangulae 89 = 4005
Triangulae 90 = 4095
Triangulae 91 = 4186
Triangulae 92 = 4278
Triangulae 93 = 4371
Triangulae 94 = 4465
Triangulae 95 = 4560
Triangulae 96 = 4656
Triangulae 97 = 4753
Triangulae 98 = 4851
Triangulae 99 = 4950
Triangulae 100 = 5050

**2)** O número de Euler pode ser aproximado pela seguinte somatória:

$$e \approx \frac{1}{0!} +  \frac{1}{1!} + \frac{1}{2!}+ \frac{1}{3!}+ \frac{1}{4!}+...$$

Dica: para calcular o fatorial de um número inteiro utilize a função da biblioteca `math`, `math.factorial`. Use `import math` para carregar a biblioteca math.

In [ ]:
import math
e = 0
for i in range(100):
    e += 1 / math.factorial(i)
print(e)

2.7182818284590455

**3)** Uma série, iniciada pelo número $n$, segue a seguinte regra:

- se $n$ for par, o próximo número $n$ da série é $n/2$.

- se $n$ for ímpar, o próximo número $n$ da série é $3n+1$.

Esse processo se repete enquanto n for diferente de 1.

Como exemplo, essa série quando começa de $n = 3$ é:

3, 10, 5, 16, 8, 4, 2, 1

Faça um programa que calcule e mostre os números da série começando de a) $n = 3$, b) $n=7$, c) $n = 9$ e d) $n = 14$.

Se quiser saber mais sobre essa série, veja [esse vídeo](https://www.youtube.com/watch?v=094y1Z2wpJg&embeds_referring_euri=https%3A%2F%2Fwww.bing.com%2F&embeds_referring_origin=https%3A%2F%2Fwww.bing.com&source_ve_path=MjM4NTE).

In [ ]:
for n in [3, 7, 9, 14]:
  print(f"Séries n = {n}")
  while n != 1:
      if n % 2 == 0:
          n = n // 2
      else:
          n = 3 * n + 1
      print(n)

Séries n = 3
10
5
16
8
4
2
1
Séries n = 7
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1
Séries n = 9
28
14
7
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1
Séries n = 14
7
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1